.contact
	padding:
		top: 40px
		bottom: 40px

	img
		width: 100%
		max-width: 230px

	&__links,
	&__link
		margin:
			right: 0.5rem
			bottom: 0.5rem
		float: left

		a
			display: inline-block
			color: $main
			font:
				weight: $semibold
			line-height: 1em
			padding: 0.5rem
			background:
				color: #fff
			border: 2px solid $main
				radius: $radius

	h3
		font-size: 1em
		font-weight: bold

	li
		margin-bottom: 1em
