<%- await include('parts/header.html') %>
<main class="Text">
	<%- await include('parts/to-home.html') %>

	<h1>Datenschutzerklärung</h1>

	<p>
		Diese Datenschutzerklärung gilt für die Nutzung von danieldiekmeier.de. Betreiber und verantwortlich im Sinne der DSGVO ist Daniel Diekmeier. Auf danieldiekmeier.de gibt es Informationen zu Daniel Diekmeier und weiterführende Links zu seinen Projekten.
	</p>

	<h3>
		Erfassung von personenbezogenen Daten
	</h3>
	<p>
		Zur Nutzung von danieldiekmeier.de sind keinerlei personenbezogene Daten notwendig.
	</p>

	<h3>
		Übermittlung von Daten an Dritte
	</h3>
	<p>
		Der Betreiber gibt personenbezogene Daten an Behörden, andere staatliche Stellen oder Privatpersonen weiter, wenn dazu auf Grund von gesetzlichen Bestimmungen, Gerichtsentscheidungen oder behördlichen Anordnungen eine Verpflichtung besteht.
	</p>

	<p>
		danieldiekmeier.de kann Dritte mit der Erhebung, Speicherung und Nutzung von personenbezogenen Daten beauftragen (Auftragsverarbeitung). In diesem Fall bleibt danieldiekmeier.de weiterhin verantwortliche Stelle. Diese Dritten unterliegen denselben Datenschutzbestimmungen wie danieldiekmeier.de.
	</p>

	<h3>Auskunftsrecht</h3>
	<p>
		Alle Nutzer von danieldiekmeier.de haben das Recht, vom Betreiber Auskunft über die zu ihrer Person gespeicherten Daten zu verlangen, sowie das Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Bei Fragen, Auskünften oder Widerrufserklärungen wenden Sie sich bitte an fax@danieldiekmeier.de.
	</p>
</main>

<%- await include('parts/footer.html') %>
