<%- include('parts/header.html') %>

<h1>Hallo, ich bin Daniel Diekmeier, ein <span data-role="description">Programmierer</span> aus&nbsp;Berlin.</h1>
<p>Nebenbei betreibe ich eine sympathische Plattform für Bücherenthusiasten: <a href="https://lesetagebu.ch">Das Lesetagebuch</a>.</p>
<p>Mehr gibt es nur auf meinem privaten Blog: <a href="https://losstopschade.de">losstopschade.de</a>.</p>
<p>Bitte melden Sie sich nicht bei mir – ich melde mich auch nicht bei Ihnen.</p>

<%- include('parts/footer.html') %>
