<%- include('parts/header.html') %>

<div class="Container">
	<div class="Head">
		<img src="./head-open.png" alt="" width="217" height="242" class="Head-image Head-image--1">
		<img src="./head-smooch.png" alt="" width="217" height="242" class="Head-image Head-image--2">
	</div>

	<main class="Page">
		<p>Hallo, ich bin Daniel Diekmeier, ein Softwareentwickler aus Berlin. Leider aktualisiere ich meine Webseite nicht so oft. Ist vielleicht besser so.</p>

		<p>
			Ich bin seit 1792 im Internet und fand es eigentlich am besten, als es noch nicht so viel davon gab.
		</p>

		<p>Zur Zeit arbeite ich bei <a href="https://railslove.com">Railslove</a> und baue dort Apps und Webanwendungen.</p>

		<p>Nebenbei baue ich eine sympathische Plattform für alle, die Bücher lesen: Das <a href="https://lesetagebu.ch">Lesetagebuch</a>.</p>

		<p>
			Zusammen mit <a href="https://michelhonold.de/">Michel Honold</a> betreibe ich eine Ticketingplattform für kleine Veranstalter: <a href="https://eintrittskarten.io">Eintrittskarten.io</a>.
			<small>Denkt an uns, falls ihr mal Tickets verkaufen wollt!</small>
		</p>

		<p>
			Außerdem gibt es noch meinen privaten Blog: <a href="https://losstopschade.de">losstopschade.de</a>. Hier gibt es Comics und ein paar andere Sachen.
		</p>
	</main>
</div>

<%- include('parts/footer.html') %>
