<%- include('parts/header.html') %>

<div class="Container">
	<div class="Head">
		<img src="./head-open.png" alt="" width="217" height="242" class="Head-image Head-image--1">
		<img src="./head-smooch.png" alt="" width="217" height="242" class="Head-image Head-image--2">
	</div>

	<main class="Page">
		<p>
			Hallo, ich bin Daniel Diekmeier, ein Softwareentwickler aus Berlin. Leider aktualisiere ich meine Webseite nicht so oft.
		</p>

		<p>
			Ich bin seit 1792 im Internet und fand es eigentlich am besten, als es noch nicht so viel davon gab.
		</p>

		<p>
			Zusammen mit <a href="https://michelhonold.de/">Michel Honold</a> betreibe ich <a href="https://eintrittskarten.io">Eintrittskarten.io</a>, das Ticket&shy;system für unabhängige Veran&shy;stalter.
			<small>Denk an uns, falls du mal Tickets verkaufen willst!</small>
		</p>

		<p>Nebenbei baue ich eine sympathische Plattform für alle, die Bücher lesen: Das <a href="https://lesetagebu.ch">Lesetagebuch</a>.</p>

		<p>
			Außerdem gibt es noch meinen privaten Blog: <a href="https://losstopschade.de">losstopschade.de</a>.
			<small>Hauptsächlich Comics, aber auch ein paar andere Sachen.</small>
		</p>

		<p>
			Ich habe auch einen englischen Software Blog auf <a href="https://diekmeier.de">diekmeier.de</a> und einen Mastodon-Account: <a href="https://mastodon.social/@danjel" rel="me">@danjel@mastodon.social</a>.
			<small>Sag Hallo! Networking! Beep boop!</small>
		</p>
	</main>
</div>

<%- include('parts/footer.html') %>
