* {
  margin: 0;
  padding: 0;
}

body {
  padding: calc(3vw + 1em);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
}

html:active [data-role="description"] {
  position: relative;
  filter: blur(8px);
}

[data-role="description"] {
  transition-property: filter;
  transition-duration: 0.2s;
}

nav {
  margin-bottom: 1em;
}

h1 {
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 2em;
  line-height: 1.2;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.5em;
  font-weight: normal;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.5rem;
  font-size: 1em;
  font-weight: bold;
}

p {
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration-color: #f5af00;
  -webkit-text-decoration-color: #f5af00;
}

footer {
  margin-top: 1rem;
  font-size: 0.8em;
}

footer a {
  display: inline-block;
  margin-right: 0.25rem;
}
